[submodule "Avalon/ThirdParty/GLFW"]
	path = Avalon/ThirdParty/GLFW
	url = https://github.com/Alesinx/GLFW
[submodule "Avalon/ThirdParty/ImGui"]
	path = Avalon/ThirdParty/ImGui
	url = https://github.com/Alesinx/imgui
[submodule "Avalon/ThirdParty/glm"]
	path = Avalon/ThirdParty/glm
	url = https://github.com/g-truc/glm
